.user-page-container {
    @include flex;
    @include fixed-header;
    background: $sky-blue;
    text-align: center;
    width:100vw;
    display: grid;
    grid-template-rows: 1fr 77px;
    grid-template-columns: 1fr;
}

.parallax-container {
    @include flex;
    // height: calc(100vh - 180px);
    // height: calc(100vh - 80px);
    @include fixed-header;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    grid-row: 1;
}


.userpage-penguin {
    background: url("./../img/penguin-one-line.png") no-repeat -812px 0px;
    height: 41px;
    width: 42px;
    position: absolute;

    bottom: 0;
    animation: walk .8s steps(3) infinite;
    grid-row: 1;
    grid-column: 1;
}

@keyframes walk {
    100% {
      background-position-x: -936px;
    }
  }

.userpage-clouds {
    background: url("./../img/half-sky-clouds.png") repeat-x  top ;
    background-size: 100vw;
    width: 100%;
    height: 100%;
    // position: absolute;
    z-index: -1;
    animation: move-x 120s infinite linear;
}


@keyframes move-x {
    100% {
        background-position-x: -300vw; 
    }
}

.far-mountains {
    background: url('./../img/far-mountains.png') repeat-x bottom;
    background-size: 100vw;
    // background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    animation: move-x 90s infinite linear;
    grid-row: 1;
    grid-column: 1;
}

.mountains {
    background: url('./../img/mountains.png') repeat-x bottom;
    background-size: 100vw;
    // background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    animation: move-x 90s infinite linear;
    grid-row: 1;
    grid-column: 1;
}

.trees {
    background: url('./../img/trees.png') repeat-x bottom;
    background-size: 100vw;
    // background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    animation: move-x 90s infinite linear;
    grid-row: 1;
    grid-column: 1;
}

.bushes {
    background: url('./../img/bushes.png') repeat-x bottom;
    background-size: 100vw;
    // background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    animation: move-x 90s infinite linear;
    grid-row: 1;
    grid-column: 1;
}

.grass {
    background: url("./../img/grass.png") repeat-x bottom;
    background-size: 100vw;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    animation: move-x 70s infinite linear;
    grid-row: 1;
    grid-column: 1;
}

.ground {
    background: url('./../img/ground2.png') repeat-x top;
    background-size: cover;
    width: 100%;
    height: 100%;
    // position: absolute;
    // bottom: 0;
    grid-row: 2;
    animation: move-x 70s infinite linear;
}


.user-page {
    @include flex;
    grid-row: 1;
    grid-column: 1;
    position: fixed;
    width: 100%;
    height: 75%;
    
    .user-scores-h1 {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .score {
        text-align: center;
        margin: 5px auto;
        list-style: none;
        font-size: 1.5em;
    }
   
    .edit-username {
        margin-top: 40px;
        .save-username {
            background-color: #E9E809;
            border: 1px solid #CCCC07;
            padding: 8px 8px;
            border-radius: 3px;
            color: black;
            margin-left: 10px;
        }
        .save-username:hover {
            background-color: rgb(204, 202, 60);
        }
    }



    .display-username {
        @include flex($direction: row);
        margin-top: 40px;
        .username {
            font-size: 1.75em;
            margin-right: 10px;
        }
        button {
            background-color: rgb(227, 226, 68);
            border: 1px solid #CCCC07;
            padding: 8px 8px;
            border-radius: 3px;
            color: black;
        }
        button:hover {
            background-color: rgb(204, 202, 60);
        }
    }
    
}

// .user-picture {
//     border-radius: 50%;
//     height: 75px;
// }


.not-logged-in-user-page {
    grid-row: 1;
    grid-column: 1;
    position: fixed;
    width: 100%;
    height: 75%;
    @include flex;
    
    .userpage-login-h1 {
        margin: 50px auto;
    }

    #login-button2 {
        background-color: $darker-blue;
        border-radius: 5px;
        width: 300px;
        height: 50px;
        font-size: large;
        font-weight: bold;
        color: white;
        letter-spacing: 0.2em;
        position: relative;
        margin: 10px auto;
    }
}

.delete-account {
    background-color: #C02921;
    border: 1px solid #8D2525;
    color: white;
    margin-top: 30px;
    padding: 8px 8px;
    border-radius: 3px;
}

.delete-account:hover {
    background-color: #8D2525;
}