.landing-container {
    @include fixed-header;
    height: 300vh;
    background: $sky-blue;
    overflow-x: hidden;
    .haze {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
    }
    .cloud1 {
        position: absolute;
        top: 100px;
        left: 600px;
        z-index: 2;
        height: 300px;
    }
    
    .cloud2 {
        position: absolute;
        top: 200px;
        left: 400px;
        width: 400px;
        z-index: 2;
    }
    .cloud3 {
        position: absolute;
        top: 600px;
        left: 600px;
        z-index: 2;
    }
    
}

.login-container {
    @include flex;
}



.btn {
    // background: #034077;
    background-color: $darker-blue;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 20px;
}

.login-button {
    left: 15%;
}

.continue {
    left: 60%;
}

.btn:hover {
    background: $faded-blue;
}



// @keyframes scroll {
//     100% {
//         background-position: 0 -400px;
//     }
// }

// @media only screen and(min-width: 320px) {
//change keyframes position
// }

.landing-page-peng {
    background: url('./../img/penguin_parachute.png') no-repeat -6px 0px;
    height: 70px;
    width: 42px;
    position: fixed;
    top: 300px;
    left: 500px;
    animation: parachuting .8s steps(3) infinite
}

// .landing-bird1 {
//     background: url('./../img/robins3.png') no-repeat 0px -2px;
//     // background-size: 150%;
//     position: absolute;
//     width: 62px;
//     height: 70px;
//     animation: fly .8s steps(19) infinite, flyforward 10s linear;
// }


@keyframes fly {
    100% {
        background-position-x: -1082px;
    }
}

@keyframes flyforward {
    from {
        top: 200px;
        left: 800px;
    }
    to {
        top: 200px;
        left: 50px;
    }
}