.landing-container {
    @include fixed-header;
}

.login-container {
    @include flex;
}


// .game-preview{
//     background-image: url('./../img/seamless-tiling-clouds-789451_640.jpg');
//     background-repeat: repeat-y;
//     background-size: cover;
//     margin: 40px auto;
//     width: 90vw;
//     height: 400px;
//     animation: 5s scroll infinite linear;
// }


.btn {
    // background: #034077;
    background-color: $darker-blue;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
}

.btn:hover {
    background: $faded-blue;
}

// .continue {
//     background-color: #034077;
// }

// .continue:hover {
//     background-color: #3574AB;
// }

@keyframes scroll {
    100% {
        background-position: 0 -400px;
    }
}

// @media only screen and(min-width: 320px) {
//change keyframes position
// }



.landing-bird1 {
    background: url('./../img/robins3.png') no-repeat 0px 0px;
    // background-size: 150%;
    position: absolute;
    width: 55px;
    height: 75px;
    animation: fly 1s steps(19) infinite, flyforward 10s linear;
}


@keyframes fly {
    100% {
        background-position-x: -1075px;
        background-position-y: 0px;
    }
}

@keyframes flyfoward {
    0% {
        top: 200px;
        left: 600px;
    }
    100% {
        top: 200px;
        left: 50px;
    }
}