// .landing-container {
//     @include fixed-header;
//     @include flex;
//     // display:grid;
//     // grid-template-columns: 1fr 1fr 1fr;
//     // height: 300vh;
//     min-height: 100vh;
//     width: 100%;
//     background: $sky-blue;
//     overflow-x: hidden;
//     // #trigger1 {
//     //     @include absolute($top:110vh);
//     //     height: 10px;
//     //     width: 100px;
//     // }
//     .haze {
//         background: url('./../img/haze2.png') repeat;
//         position: fixed;
//         z-index: -1;
//         top: 0;
//         left: 0;
//         height: 100%;
//         width: 100%;
//     }
//     .cloud1 {
//         position: absolute;
//         top: 50vh;
//         left: 40vw;
//         z-index: 2;
//         height: 300px;
//         display: none;
//     }
    
//     .cloud2 {
//         position: absolute;
//         top: 50vh;
//         left: 30vw;
//         width: 400px;
//         z-index: 2;
//         display: none;
//     }
//     .cloud3 {
//         position: absolute;
//         top: 240vh;
//         left: 40vw;
//         z-index: 2;
//         display: none;
//     }
    
// }

// .title-logo {
//     height: 150px;
//     width: 100%;
//     // grid-column: 2;
// }

// .landing-page-peng {
//     background: url('./../img/penguin_parachute2.png') no-repeat -6px 0px;
//     height: 70px;
//     width: 42px;
//     position: fixed;
//     top: 70vh;
//     left: calc(50% - 26px);
//     z-index: 1;
//     display: none;
//     animation: parachuting .8s steps(3) infinite;
// }


// .login-container {
//     @include flex($justify: space-between, $direction: column);
//     // height: calc(100% - 80px);
//     height: 100%;
    
// }

// .button-container {
//     @include flex($direction: column, $align: space-around);
//     // grid-column: 2;
//     width: 100%;
//     margin-top: 20px;
// }

// .btn {
//     // background: #034077;
//     background-color: $darker-blue;
//     border-radius: 5px;
//     border: 1px solid rgb(17, 57, 86);
//     // width: 300px;
//     width: 100%;
//     height: 70px;
//     padding: 5px 5px;
//     margin: 5px auto;
//     // height: 50px;
//     // margin: 20px 6em;
//     font-size: large;
//     font-weight: bold;
//     color: white;
//     letter-spacing: 0.2em;
//     padding: 5px auto;
// }


// .btn:hover {
//     background: rgb(18, 57, 85);
// }

// .landing-plane {
//     background: url('./../img/Biplane.png') no-repeat 0px 10px;
//     background-size: 105%;
//     width: 541px;
//     height: 250px;
//     position: absolute;
//     top: 150vh;
//     // left: 0px;
//     animation: plane-fly 10s linear infinite;
//     display: none;
// }

// @keyframes plane-fly {
//     0% {
//         left: -10px;
//     }
//     40% {
//         left: 100vw;
//         top: 130vh;
//     }
//     100% {
//         left: 100vw;
//     }
// }

// .landing-bird {
//     background: url('./../img/robins3.png') no-repeat 0px -2px;
//     position: absolute;
//     width: 62px;
//     height: 70px;  
//     display: none;  
// }

// .bird1 {
//     top: 180vh;
//     animation: fly .9s steps(19) infinite, flyforward 13.1s infinite linear;
// }
// .bird2 {
//     top: 186vh;
//     animation: fly .8s steps(19) infinite, flyforward 13.01s infinite linear;
// }
// .bird3 {
//     top: 192vh;
//     animation: fly 1s steps(19) infinite, flyforward 13.2s infinite linear;
// }

// @keyframes fly {
//     100% {
//         background-position-x: -1082px;
//     }
// }

// @keyframes flyforward {
//     0% {
//         left: 100vw;
//     }
//     40% {
//         left: -50px;
        
//     }
//     100% {
//         left: -50px;
//         top: 270vh;
//     }
// }

// .landing-title {
//     height: 200px;
//     width: 100%;
//     // background-color: white;
//     // border: 1px solid black;
//     @include flex;
//     h1 {
//         font-size: 2.25em;
//         font-family: 'Luckiest Guy', cursive;
//         color: #E6650F;
//         text-shadow: 1px 1px black;
//     }
// }

// .about, .about-game{
//     @include flex($justify: center);
//     // width: 400px;
//     width: 100%;
//     // grid-column: 2;
//     // min-height: 250px;
//     padding: 20px 10px;
//     background: $light-purple;
//     border-radius: 5px;
//     margin: 10px auto;
//     z-index: 0;
//     h1 {
//         font-size: 1.5em;
//         margin: 10px auto;
//     }
//     p {
//         width: 100%;
//         padding: 10px 10px;
//         text-align: justify;
//     }
// }



// @media screen and (min-width: 500px) {
// //change grid and button sizes and about sizes
//     .about, .about-game {
//         width: 70%;
//     }

//     .button-container {
//         width: 70%;
//     }
// }

// @media screen and (min-width: 900px) {
//     .login-container {
//         display: grid;
//         grid-template-rows: 1fr 1fr 1fr 1fr;
//         grid-template-columns: 1fr 1fr 1fr;
//     }
  
//     .landing-container {
//         height: 300vh;
//         .cloud1, .cloud2, .cloud3, .landing-plane, .landing-bird, .landing-page-peng {
//             display: flex;
//         }
        
//     }
//     .landing-title {
//         grid-column: 1/-1;
//         grid-row: 1;
//         width: 100%;
//         h1 {
//             font-size: 4em;
//         }
//     }
//     .about {
//         grid-column: 1;
//         grid-row: 2;
//         width: 80%;
//         h1 {
//             font-size: 2em;
//         }
//         p {
//             font-size: 1.5em;
//         }
//     }
//     .about-game {
//         grid-column: 3;
//         grid-row: 3;
//         width: 80%;
//         h1 {
//             font-size: 2em;
//         }
//         p {
//             font-size: 1.5em;
//         }
//     }
//     .button-container {
//         grid-column: 2;
//         grid-row: 4;
//         align-self: flex-end;
//         width: 100%;

//         .btn {
//             height: 50px;
//         }
//     }
// }





.landing-container {
    @include fixed-header;
    @include flex;
    // display:grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // height: 300vh;
    min-height: calc(100vh);
    // overflow: hidden;
    width: 100%;
    background: $sky-blue;
    overflow-x: hidden;
    background-color: pink;
    #trigger1 {
        // display: none;
        @include absolute($top:110vh);
        height: 10px;
        width: 100px;
    }
    .haze {
        background: url('./../img/haze2.png') repeat;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // display: none;
    }
    .cloud1 {
        position: absolute;
        top: 50vh;
        left: 40vw;
        z-index: 2;
        height: 300px;
        display: none;
    }
    
    .cloud2 {
        position: absolute;
        top: 50vh;
        left: 30vw;
        width: 400px;
        z-index: 2;
        display: none;
    }
    .cloud3 {
        position: absolute;
        top: 240vh;
        left: 40vw;
        z-index: 2;
        display: none;
    }
    
}

.title-logo {
    height: 150px;
    width: 100%;
    // grid-column: 2;
}

.landing-page-peng {
    display: none;
    background: url('./../img/penguin_parachute2.png') no-repeat -6px 0px;
    height: 70px;
    width: 42px;
    position: fixed;
    top: 70vh;
    left: calc(50% - 26px);
    z-index: 1;
    // display: none;
    animation: parachuting .8s steps(3) infinite;
}


.login-container {
    @include flex($justify: space-between, $direction: column);
    // height: 100%;
    // display: none;
}

.button-container {
    @include flex($direction: column, $align: space-around);
    // grid-column: 2;
    width: 100%;
    // display: none;
    margin-top: 20px;
}

.btn {
    // background: #034077;
    background-color: $darker-blue;
    border-radius: 5px;
    border: 1px solid rgb(17, 57, 86);
    // width: 300px;
    width: 100%;
    height: 70px;
    padding: 5px 5px;
    margin: 5px auto;
    // height: 50px;
    // margin: 20px 6em;
    font-size: large;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
    padding: 5px auto;
}


.btn:hover {
    background: rgb(18, 57, 85);
}

.landing-plane {
    background: url('./../img/Biplane.png') no-repeat 0px 10px;
    background-size: 105%;
    width: 541px;
    height: 250px;
    position: absolute;
    top: 150vh;
    // left: 0px;
    animation: plane-fly 10s linear infinite;
    display: none;
}

@keyframes plane-fly {
    0% {
        left: -10px;
    }
    40% {
        left: 100vw;
        top: 130vh;
    }
    100% {
        left: 100vw;
    }
}

.landing-bird {
    background: url('./../img/robins3.png') no-repeat 0px -2px;
    position: absolute;
    width: 62px;
    height: 70px;  
    display: none;  
}

.bird1 {
    top: 180vh;
    animation: fly .9s steps(19) infinite, flyforward 13.1s infinite linear;
}
.bird2 {
    top: 186vh;
    animation: fly .8s steps(19) infinite, flyforward 13.01s infinite linear;
}
.bird3 {
    top: 192vh;
    animation: fly 1s steps(19) infinite, flyforward 13.2s infinite linear;
}

@keyframes fly {
    100% {
        background-position-x: -1082px;
    }
}

@keyframes flyforward {
    0% {
        left: 100vw;
    }
    40% {
        left: -50px;
        
    }
    100% {
        left: -50px;
        top: 270vh;
    }
}

.landing-title {
    // height: 200px;
    width: 100%;
    // background-color: white;
    // border: 1px solid black;
    @include flex;
    // display: none;
    h1 {
        font-size: 2.25em;
        font-family: 'Luckiest Guy', cursive;
        color: #E6650F;
        text-shadow: 1px 1px black;
    }
}

.about, .about-game{
    @include flex($justify: space-around);
    // width: 400px;
    // display: none;
    width: 100%;
    // grid-column: 2;
    padding: 20px 10px;
    background: $light-purple;
    border-radius: 5px;
    margin: 10px auto;
    z-index: 0;
    h1 {
        font-size: 1.5em;
        margin: 10px auto;
    }
    p {
        width: 100%;
        padding: 10px 10px;
        text-align: justify;
    }
}



@media screen and (min-width: 500px) {
//change grid and button sizes and about sizes
    .about, .about-game {
        width: 70%;
    }

    .button-container {
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .login-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
  
    .landing-container {
        // height: 300vh;
        .cloud1, .cloud2, .cloud3, .landing-plane, .landing-bird, .landing-page-peng {
            display: flex;
        }
        
    }
    .landing-title {
        grid-column: 1/-1;
        grid-row: 1;
        width: 100%;
        h1 {
            font-size: 4em;
        }
    }
    .about {
        grid-column: 1;
        grid-row: 2;
        width: 80%;
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .about-game {
        grid-column: 3;
        grid-row: 3;
        width: 80%;
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .button-container {
        grid-column: 2;
        grid-row: 4;
        align-self: flex-end;
        width: 100%;

        .btn {
            height: 50px;
        }
    }
}