@mixin flex($justify:center, $align:center, $direction:column){
    display: flex;
    justify-content: $justify;
    align-items: $align;   
    flex-direction: $direction;
}

//header height = 80px
@mixin fixed-header($header-height: 80px) {
    height: calc(100vh - 80px);    
    width: 100%;
    position: absolute;
    top: $header-height;
    z-index: -1;
}

@mixin absolute($position:absolute, $top:0, $left:0) {
    position: $position;
    top: $top;
    left: $left

}