// light colors
$almost-white-purple: #DFDEE6;
$almost-white-lightblue: #DDE8EE;
$sky-blue: #D9EEF3;
$gray-blue: #BACDDB;
$blue-gray: #B4D1E1;


//medium colors
$tan: #D6C7B4;
$light-purple: #A6A1B5;
$faded-lightblue: #97C1D9;
$darker-faded-lightblue: #82b4cd;
$faded-blue: #4D8DB3;
$gray-purple: #79859b;


//dark colors
$darker-blue: #17496E;
$dark-purple: #291B34;
