.game-page {
    @include fixed-header;
    background: rgba(67, 70, 130, 0.03);
    background-image: url('./../img/hazy-cloud-bg.png');
    background-repeat: repeat;
    background-size: auto 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    animation: 4s scroll-y infinite linear;
    .score {
        grid-column: 1;
        grid-row: 1;
        font-size: 2em;
    }
}

.game-container{
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 1/-1;
}

.arrow-buttons {
    @include flex($direction: row, $justify: space-around);
    display: none;
    width: 100%;
    position: absolute;
    bottom: 15px;

    .arrow-btn {
        height: 75px;
        width: 75px;
        border-radius: 5px;
    }

    .left-button {
        background: url('./../img/left-arrow.png') no-repeat center;
    }

    .right-button {
        background: url('./../img/right-arrow.png') no-repeat center;
    }
}

@keyframes scroll-y {
    100% {
        background-position-y: -100vh;
    }
}

.player {
    background: url('./../img/penguin.png') no-repeat;
    height: 40px;
    width: 41px;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    animation: fall 1s steps(7) infinite;
}

@keyframes fall {
    from {
        background-position-x: -1px;
        background-position-y: -1px;
    }
    to {
        background-position-x: -288px;
        background-position-y: -2px;
    }
}


.bird {
    background: url('./../img/robins3.png') no-repeat 0px -2px;
    width: 52px;
    height: 70px;
    animation: fly .8s steps(19) infinite;
}


@keyframes fly {
    100% {
        background-position-x: -1082px;
        background-position-y: -4px;
    }
}

@keyframes play {
    0% {
        background-position-x: -23px;
        background-position-y: -25px;
    }
    100% {
        background-position-x: -207px;
        background-position-y: -37px;
        }
    
}



.cloud {
    background: url('./../img/gamecloud.png') no-repeat 2px 25px;
    background-size: 92%;
    width: 80px;
    height: 40px;
}

.plane {
    background: url('./../img/Biplane.png') no-repeat 0px 12px;
    background-size: 105%;
    width: 541px;
    height: 250px;
}

.parachute{
    background: url('./../img/parachute.png') no-repeat 12px 17px;
}



.example-containers {
    grid-column: 1;
    grid-row: 2;
    height: 90%;
    width: 90%;
    @include flex($justify: space-between);
   
    h4 {
        text-align: center;
    }
} 

.example-obstacles {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.examples {
    @include flex;
    margin: 5px;
    padding: 8px 8px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}


.example-plane {
    height: 60px;
    width: 80px;
    background-position: center;
}

.example-bird {
    animation: none;
    height: 60px;
    background-position: -2px -14px;
}


.example-parachute {
    background-position: center;
    height: 50px;
    width: 50px;
}


.example-cloud {
    background-position: center;
    height: 60px;
    width: 80px;
}


.game-scores {
    grid-column: 3;
    grid-row: 2;
    height: 90%;
    width: 90%;
    // background: rgba(0, 0, 255, 0.28);
    @include flex($justify: space-between);
    .score-cheer-penguins {
        @include flex;
        .best-score-h3 {
            margin: 10px auto;
            font-size: 1.5em;
        }
        .best-score {
            margin: 10px auto;
            margin-bottom: 20px;
            font-size: 1.5em;
        }
      
        .cheer-penguins {
            @include flex($direction: row, $justify: space-around);
            .go-penguin{
                background: url('./../img/go_penguin_parachute.png') no-repeat -6px 0px;
                width: 42px;
                height: 82px;
                margin: 20px 5px;
                animation: cheer 2s steps(3) infinite;
            }
        }
    }
    
   
}

@keyframes cheer{
    100% {
        background-position-x: -128px;
    }
}

//  joke ad modal for DevMountain presentation
// .pop-up {
//     background-color: lightgray;
//     height: 50%;
//     width: 95%;
//     border: 1px solid black;

//     .pop-up-header {
//         @include flex($justify: space-between, $direction: row);
//         background-color: blue;
//         margin: 1px 1px;
//         height: 20px;
//         width: calc(100% - 2px);
//         p{
//             color: white;
//             padding-left: 2px;
//             text-align: center;
//         }
//         button{
//             @include flex;
//             height: 17px;
//             width: 17px;
//             margin: 1px 1px;
//         }
//     }

//     .fake-ad {
//         width: 100%;
//         p {
//             margin: 3px auto;
//         }
//         height: calc(100% - 24px);
//         @include flex;
//         // background-color: red;
//         .dm-ad {
//             background: url('./../img/dm-ad.png') no-repeat center;
//             height: 80%;
//             width: 80%;
//         }
//     }
//     animation: popup 5s linear 5s;
// }


// @keyframes popup{
//     0% {
//         visibility: hidden;
//     }
//     100% {
//         visibility: visible;
//     }
// }

.no-game-message {
    text-align: center;
    display: none;
}


@media screen and (max-width: 1000px) {
    .game-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        overflow: hidden;
    }
    .game-container {
        margin: auto;
        height: 75%;
        width: 75%;
        grid-column: 1;
        grid-row: 2;
    }
    .example-containers {
        display: none;
    }
    .game-scores {
        display: none;
    }
    .arrow-buttons {
        display: flex;
        grid-row: 3;
    }
}


@media screen and (max-height: 400px){
    .no-game-message {
        display: grid;
    }

    .game-container {
        display: none;
    }

    .arrow-buttons {
        display: none;
    }

    .game-page {
        .score{
            display: none;
        }
    }

    .game-scores {
        display: none;
    }

    .example-containers {
        display: none;
    }
}