.game-page {
    @include flex($justify: space-between, $align: space-around);
    @include fixed-header;
    background: $darker-faded-lightblue;
    .score {
        // margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 50px;
    }
}
.game-container{
    background-image: url('./../img/hazy-cloud-bg.png');
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
    margin: auto;
    margin-top: 25px;
    width: 600px;
    height: 400px;
    animation: 4s scroll-y infinite linear;
}

@keyframes scroll-y {
    100% {
        background-position-y: -450px;
    }
}

.player {
    background: url('./../img/penguin.png') no-repeat;
    height: 40px;
    width: 41px;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    animation: fall 1s steps(7) infinite;
}

@keyframes fall {
    from {
        background-position-x: -1px;
        background-position-y: -1px;
    }
    to {
        background-position-x: -288px;
        background-position-y: -2px;
    }
}


.bird {
    background: url('./../img/robins3.png') no-repeat 0px -2px;
    // background-size: 100%;
    width: 52px;
    height: 70px;
    animation: fly .8s steps(19) infinite;
}


@keyframes fly {
    100% {
        background-position-x: -1082px;
        background-position-y: -4px;
    }
}

@keyframes play {
    0% {
        background-position-x: -23px;
        background-position-y: -25px;
    }
    100% {
        background-position-x: -207px;
        background-position-y: -37px;
        }
    
}



.cloud {
    background: url('./../img/gamecloud.png') no-repeat 2px 25px;
    background-size: 92%;
    width: 80px;
    height: 40px;
}

.plane {
    background: url('./../img/Biplane.png') no-repeat 0px 12px;
    background-size: 105%;
    width: 541px;
    height: 250px;
}

.parachute{
    background: url('./../img/parachute.png') no-repeat 12px 17px;
}