.header-container {
    @include flex($direction: row);
    display: grid;
    grid-template-columns: 1fr 6fr;
    background: $darker-blue;
    position: fixed;
    width: 100%;
    height: 80px;
    .logo{
        grid-column: 1;
        height: 70px;
        margin-left: 10px;
    }
}



.nav {
    display: none;
    grid-column: 2;
    li {
        padding: 5px 10px;
        list-style: none;
        font-family: sans-serif;
        color: $almost-white-purple;
        a {
            color: $almost-white-purple;
        }
    }
}

.menu {
    @include flex;
    height: 100%;
    justify-self: flex-end;
    .span{
        width: 40px;
        height: 5px;
        background-color: black;
        margin: 12px 20px;
    }
    
}

.side-menu {
    background-color: rgba(0, 0, 0, .75);
    // @include fixed-header;
    // @include flex;
    height: 50vh;
    width: 50%;
    @include absolute($top: 80px, $left:calc(100vw - 50%));
    .side-nav {
        height: 100%;
        @include flex($justify: space-around);
        li {
            color: white;
            font-size: 1.5em;
            margin: 5px auto;
    
        }
        a {
            color: white;
        }
    }
    
}

@media screen and (min-width:600px) {
    .nav {
        @include flex($direction: row, $justify: space-around);
    }
    .menu {
        display: none;
    }
    .side-menu {
        display: none;
    }
}