.header-container {
    @include flex($direction: row);
    display: grid;
    grid-template-columns: 1fr 6fr;
    background: $darker-blue;
    position: fixed;
    width: 100%;
    height: 80px;
    .logo{
        grid-column: 1;
        height: 70px;
        margin-left: 10px;
    }
}



.nav {
    display: none;
    grid-column: 2;
    li {
        padding: 5px 10px;
        list-style: none;
        font-family: sans-serif;
        color: $almost-white-purple;
        a {
            color: $almost-white-purple;
        }
    }
}

@media screen and (min-width:600px) {
    .nav {
        @include flex($direction: row, $justify: space-around);
    }
}