.scores-container {
    @include fixed-header;
    @include flex;
    background: url('./../img/hazy-cloud-bg.png') no-repeat center;
    overflow: hidden;
    height: calc(100% - 80px);
  
    .high-scores {
        text-align: center;
    }
    .player-scores {
        margin-bottom: 100px;
    }

    .retrieve-scores {
        margin-bottom: 100px;
    }
}


.players-and-scores {
    @include flex($direction:row);
    .players {
        text-align: right;
        margin-right: 20px;
    }
    .scores {
        text-align: left;
    }

}

.parachute-penguin {
    background: url('./../img/penguin_parachute.png') no-repeat -6px 0px;
    height: 70px;
    width: 42px;
    position: absolute;
    animation: parachuting .8s steps(3) infinite, skydiving 20s linear forwards;
}

@keyframes parachuting {
    100% {
        background-position: -129px 0px;
    }
}

@keyframes skydiving {
    0% {
        top: 100px;
        left: 100px;
    }

    100% {
        top: 400px;
        left: 100px;
    }
}