.scores-container {
    @include fixed-header;
    @include flex;
    background: url('./../img/hazy-cloud-bg.png') repeat center;
    overflow: hidden;
    // display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr;
  
    .high-scores {
        text-align: center;
        margin-bottom: 20px;
        // border: 1px solid black;
        padding: 10px 10px;
        // height: 65%;
        // @include flex($justify: space-around);
        // display: grid;
        // grid-template-rows: 1fr 8fr;
    //    grid-row: 2;
    //    grid-column: 2;
    }

    .high-scores-h1 {
        font-size: 1.5em;
        padding: 10px 10px;
        // grid-row: 1;
        // background: blue;
        // grid-column: 2;
    }


    .retrieve-scores {
        text-align: center;
        font-size: 2em;
        margin-bottom: 100px;
    }
}


.players-and-scores {
    @include flex($direction:row);
    // grid-row: 2;
    // background: red;
    .players {
        text-align: right;
        margin-right: 2em;
        font-size: 1em;
        line-height: 1.75em;
    }
    .scores {
        text-align: left;
        font-size: 1em;
        line-height: 1.75em;
    }

}

.scores-page-replay {
    background-color: #EF9822;
    border: 1px solid #C27409;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.25em;
}

.scores-page-replay:hover {
    background-color: #C27409;
}

.score-clouds {
    background: url('./../img/clouds-bg.png') repeat top;
    background-size: auto 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
    // top: 0;
    animation: scroll-up 10s linear infinite;
    z-index: -1;
}

@keyframes scroll-up {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -100vh;
    }
}

.parachute-penguin {
    background: url('./../img/penguin_parachute2.png') no-repeat -6px 0px;
    height: 70px;
    width: 41px;
    visibility: hidden;
    position: absolute;
    animation: parachuting .8s steps(3) infinite, skydiving 20s linear forwards;
}

@keyframes parachuting {
    100% {
        background-position: -129px 0px;
    }
}

@keyframes skydiving {
    0% {
        top: 100px;
        left: 20%;
    }

    100% {
        top: 400px;
        left: 20%;
    }
}

@media screen and (min-width: 799px) {
    .parachute-penguin {
        visibility: visible;
    }
}

@media screen and (min-width: 800px), (min-height: 900px){
    .high-scores {
        .high-scores-h1 {
            font-size: 2.5em;
        }
        .players {
            font-size: 2em;
            // line-height: 1em;
        }
        .scores {
            font-size: 2em;
            // line-height: 1em;
        }
    }
    
}



@media screen and (min-width: 1800px){
    .high-scores {
        .high-scores-h1 {
            font-size: 2.5vw;
        }
    }
    
}